:root {
    --palette-color-1: #000000;
    --palette-color-2: #00000000;
    --palette-color-3: #576366;
    --palette-color-4: #ffffff;
    --palette-color-5: #6a787c;
    --palette-color-6: #40484a;
    --palette-color-7: #387bab;
    --palette-color-8: #303853;
    --palette-color-9: #4b5658;
    --palette-color-10: #0098b1;
    --palette-color-11: #2d3339;
    --palette-color-12: #f9fafa;
    --palette-color-13: #007e92;
    --palette-color-14: #3f4850;
    --palette-color-15: #f6f9fa;
    --palette-color-16: #7b8b8e;
    --palette-color-17: #edeff0;
    --palette-color-18: #2d3339b3;
    
    
    --palette-font-1: Gotham Rounded A;
    --palette-font-2: Gotham Rounded B;
    --palette-font-3: Helvetica;
    --palette-font-4: Arial;
    --palette-font-5: Gotham Rounded;
    --palette-font-6: Helvetica Neue;
    }
    
    